//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-               This file is part of the Folding@home Client.               //
//-                                                                           //
//-         The Folding@home Client runs protein folding simulations.         //
//-                 Copyright (c) 2001-2019, foldingathome.org                //
//-                            All rights reserved.                           //
//-                                                                           //
//-    This program is free software; you can redistribute it and/or modify   //
//-    it under the terms of the GNU General Public License as published by   //
//-     the Free Software Foundation; either version 2 of the License, or     //
//-                    (at your option) any later version.                    //
//-                                                                           //
//-      This program is distributed in the hope that it will be useful,      //
//-       but WITHOUT ANY WARRANTY; without even the implied warranty of      //
//-       MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the       //
//-                GNU General Public License for more details.               //
//-                                                                           //
//-  You should have received a copy of the GNU General Public License along  //
//-  with this program; if not, write to the Free Software Foundation, Inc.,  //
//-        51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.        //
//-                                                                           //
//-               For information regarding this software email:              //
//-                              Joseph Coffland                              //
//-                       joseph@cauldrondevelopment.com                      //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#account-settings-template(type="text/x-template")
  .view.account-settings-view(v-if="$root.logged_in")
    template(v-if="register")
      p.
        Welcome to the Folding@home Web Console where you can track your
        contributions to disease research better than ever.

      p.
        Enter your team number and passkey, if you have them, then click the
        "Register" button below to get started.  These settings can be changed
        later at anytime.


    form
      label Avatar
      img.avatar(:src="avatar")
      .actions

      label Name
      input(v-model="name")
      .actions

      label Team (optional)
      team-input(v-model="team", v-ref:team)
      .actions

      label Passkey (optional)
      .passkey
        input(v-model="passkey", pattern="[A-Fa-f0-9]{30,32}",
          :type="show_passkey ? '' : 'password'")
      .actions
        .fa(@click="show_passkey = !show_passkey", title="Show passkey.",
          :class="'fa-eye' + (show_passkey ? '' : '-slash')")

      template(v-if="account.token && false")
        label Token
        input(v-model="account.token", :type="show_token ? '' : 'password'",
          readonly)
        .actions
          .fa(@click="show_token = !show_token", title="Show secret token.",
            :class="'fa-eye' + (show_token ? '' : '-slash')")
          .fa.fa-clipboard(@click="copy_token",
            title="Copy secret token to clipboard.")

      .skip
      .buttons
        button(@click="cancel")
          | #[.fa.fa-times] {{register ? 'Logout' : 'Cancel'}}

        button(@click="save", :disabled="!valid")
          | #[.fa.fa-floppy-o] {{register ? 'Register' : 'Save'}}
      .skip
