//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-               This file is part of the Folding@home Client.               //
//-                                                                           //
//-         The Folding@home Client runs protein folding simulations.         //
//-                 Copyright (c) 2001-2019, foldingathome.org                //
//-                            All rights reserved.                           //
//-                                                                           //
//-    This program is free software; you can redistribute it and/or modify   //
//-    it under the terms of the GNU General Public License as published by   //
//-     the Free Software Foundation; either version 2 of the License, or     //
//-                    (at your option) any later version.                    //
//-                                                                           //
//-      This program is distributed in the hope that it will be useful,      //
//-       but WITHOUT ANY WARRANTY; without even the implied warranty of      //
//-       MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the       //
//-                GNU General Public License for more details.               //
//-                                                                           //
//-  You should have received a copy of the GNU General Public License along  //
//-  with this program; if not, write to the Free Software Foundation, Inc.,  //
//-        51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.        //
//-                                                                           //
//-               For information regarding this software email:              //
//-                              Joseph Coffland                              //
//-                       joseph@cauldrondevelopment.com                      //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

script#charts-view-template(type="text/x-template")
  .view.charts-view
    .menu
      router-link(to="/charts/team") Teams
      router-link(to="/charts/account") Accounts
      router-link(to="/charts/project") Projects
      router-link(to="/charts/os") OS
      router-link(to="/charts/gpu") GPUs
      router-link(to="/charts/core") Cores
      router-link(to="/charts/version") Versions

    field-description(:series="series", :field="field", :period="period")

    .query-options
      span(title="Data time period")
        label Period
        select(v-model="period")
          option(v-for="name in enums.periods", :value="name") {{name}}

      span(title="The data type")
        label Query
        select(v-model="field")
          option(v-for="name in enums.fields", :value="name") {{name}}

      span(title="Maximum number of data points")
        label Max
        int-input(v-model="count", min="1", max="200")

      span(title="Maximum number top results")
        label Top
        int-input(v-model="top", min="1", max="100")

    line-chart(:series="series", :period="period", :count="count", :top="top",
      :sort="field", :field="field")
