//-/////////////////////////////////////////////////////////////////////////////
//-                                                                           //
//-               Copyright (c) 2018, Cauldron Development LLC                //
//-                           All rights reserved.                            //
//-                                                                           //
//-   This file ("the software") is free software: you can redistribute it    //
//-   and/or modify it under the terms of the GNU General Public License,     //
//-    version 2 as published by the Free Software Foundation. You should     //
//-    have received a copy of the GNU General Public License, version 2      //
//-   along with the software. If not, see <http://www.gnu.org/licenses/>.    //
//-                                                                           //
//-   The software is distributed in the hope that it will be useful, but     //
//-        WITHOUT ANY WARRANTY; without even the implied warranty of         //
//-    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU      //
//-             Lesser General Public License for more details.               //
//-                                                                           //
//-     You should have received a copy of the GNU Lesser General Public      //
//-              License along with the software.  If not, see                //
//-                     <http://www.gnu.org/licenses/>.                       //
//-                                                                           //
//-              For information regarding this software email:               //
//-            "Joseph Coffland" <joseph@cauldrondevelopment.com>             //
//-                                                                           //
//-/////////////////////////////////////////////////////////////////////////////

doctype html
html(lang="en")
  head
    title Folding@home Console
    meta(charset="utf-8")

    link(rel="stylesheet", type="text/css", href="css/font-awesome.min.css")

    - var base = "https://fonts.googleapis.com/css";
    link(href=base + "?family=Inconsolata", rel="stylesheet")

    script(src="js/jquery.min.js")
    script(src="js/vue.min.js")
    script(src="js/vue-router.min.js")
    script(src="js/moment.min.js")
    script(src="js/Chart.min.js")
    script(src="js/three.min.js")

    style: include:stylus ../styl/main.styl
    script: include:browserify ../js/main.js

  body
    #app(v-cloak, v-if="typeof account != 'undefined'")
      #header(v-cloak)
        .header-nav(v-if="logged_in")
          img.avatar(:src="account.avatar")
          .nav-notch
          router-link(:to="'/account/' + account.id") #[.fa.fa-user] Account
          router-link(:to="'/team/' + account.team") #[.fa.fa-users] Team
          router-link(to="/account/settings") #[.fa.fa-cog] Settings
          a(@click="logout()") #[.fa.fa-sign-out] Logout

        router-link.logo(to="/") Folding#[span @]home Console {{route}}

      router-view#view

    noscript
      h1 This Web app requires Javascript.
      p.
        We appologize for the inconvenience but you must
        #[a(href="http://enable-javascript.com/") enable Javascript] to use this
        Web app.

    #incompatible-browser
      h1 Incompatable browser.
      p Your browser is too old to use this Web app.
      p Please #[a(href="http://whatbrowser.org/") update your browser].

    #templates
      include charts-view.pug
      include project-view.pug
      include account-view.pug
      include account-settings.pug
      include team-settings.pug
      include fah-client.pug
      include work-unit.pug
      include progress-bar.pug
      include client-settings.pug
      include line-chart.pug
      include top-view.pug
      include top-table.pug
      include team-view.pug
      include recent-wus.pug
      include recent-machines.pug
      include team-accounts.pug
      include team-charts.pug
      include account-charts.pug
      include main-view.pug
      include about-view.pug
