/******************************************************************************\

                 This file is part of the Folding@home Client.

           The Folding@home Client runs protein folding simulations.
                   Copyright (c) 2001-2019, foldingathome.org
                              All rights reserved.

      This program is free software; you can redistribute it and/or modify
      it under the terms of the GNU General Public License as published by
       the Free Software Foundation; either version 2 of the License, or
                      (at your option) any later version.

        This program is distributed in the hope that it will be useful,
         but WITHOUT ANY WARRANTY; without even the implied warranty of
         MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                  GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program; if not, write to the Free Software Foundation, Inc.,
          51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

                 For information regarding this software email:
                                Joseph Coffland
                         joseph@cauldrondevelopment.com

\******************************************************************************/

html *
  box-sizing border-box

#incompatible-browser, [v-cloak], #templates
  display none

body
  font-family 'Inconsolata', sans-serif
  background bg-color
  color text-color

:focus
  outline none

::-moz-focus-inner
  border 0

underline()
  &:after
    display block
    content ''
    height 1px
    background border-color
    border-right 2px solid border-highlight
    border-left 2px solid border-highlight

h1, h2, h3, h4
  font-weight normal
  color header-color
  margin 0 0 10px 0
  underline()

a
  color text-color
  text-decoration none

  &:hover
    text-decoration underline
    cursor pointer

input, select
  background lighten(bg-color, 10%)
  color text-color
  border solid 1px darken(border-color, 20%)
  padding 0.25em 0.5em
  outline none

  &:invalid, &.invalid
    border solid 1px red

table
  width 100%
  margin-bottom 10px

  td, th
    text-align left
    white-space nowrap

button
  padding 5px 10px
  color text-color
  background-color lighten(bg-color, 15%)
  border none
  text-decoration none
  border-radius 0
  cursor pointer
  text-align center
  border 1px solid border-color

  &:hover
    background-color lighten(bg-color, 30%)

  &:disabled
    background-color lighten(bg-color, 15%)
    color darken(text-color, 60%)
    cursor inherit

  .fa
    margin 0 5px

.actions .fa, .fa.action
  &:hover
    cursor pointer
    color highlight

.series
  > h2
    text-transform capitalize

  .chart
    max-height 500px
    margin-bottom 10px

.fa
  &.success
    color highlight

  &.error
    color red

  &.warning
    color orange

.ps
  .ps__rail-x, .ps__rail-y
    &:hover, &:focus, &.ps--clicking
      background-color transparent

.ps__rail-y, .ps__rail-x
  &:hover, &:focus, &.ps--clicking
    > .ps__thumb-y, > .ps__thumb-x
      width 6px
