/******************************************************************************\

                 This file is part of the Folding@home Client.

           The Folding@home Client runs protein folding simulations.
                   Copyright (c) 2001-2019, foldingathome.org
                              All rights reserved.

      This program is free software; you can redistribute it and/or modify
      it under the terms of the GNU General Public License as published by
       the Free Software Foundation; either version 2 of the License, or
                      (at your option) any later version.

        This program is distributed in the hope that it will be useful,
         but WITHOUT ANY WARRANTY; without even the implied warranty of
         MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                  GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program; if not, write to the Free Software Foundation, Inc.,
          51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

                 For information regarding this software email:
                                Joseph Coffland
                         joseph@cauldrondevelopment.com

\******************************************************************************/

#project
  color #eee
  background-image url('images/background.png')
  background-size cover

  h1, h2, h3, h4
    color #eee

  .modal-content
    height 100%
    display flex
    flex-direction row

    .project-sidebar
      flex none

    .visual
      height 100%
      flex auto

  .project-sidebar
    width 30%
    min-width 400px
    max-height 95%
    display flex
    flex-flow column
    overflow hidden
    background-color rgba(40, 60, 90, 0.8)
    padding 10px
    border-radius 4px

    th
      width 10em
      text-align right
      vertical-align top

    img
      margin 5px 0
      max-width 128px
      max-height 128px
      border-radius 3px

    .description
      line-height 1.5em
      flex-grow 1
      overflow-y auto

  canvas
    position absolute
    z-index -1
    margin -20px

  .visual
    height 100%

    .message
      position relative
      width 100%
      line-height 200px
      text-align center
      font-size 200%

  .modal-footer
    .controls
      text-align left
      display inline-block

      .control
        white-space nowrap
        display inline-block
        margin-right 10px
        margin-bottom 10px
